{% extends 'base.html' %}

{% block content %}
<p>Для использования данного сайта вам необходимо:<br>
    <ol>
        <li>Зарегестрироваться для сохранения данных (желательно указывать действительный почтовый адресс)</li>
        <li>Залогинится для входа в сам сайт</li>
        <li>Получать информацию!</li>
    </ol><br>чтобы вам добавить свой товар, вам достаточно просто нажать на кнопку <kbd>Создать новый товар</kbd> затем просто заполнить всё по форме<br>
    Для того чтобы редактировать товар вы можете перейти на вкладку <kbd>Мои товары</kbd>также вы можете сделать фильтр и поиск с помощью боковой и верхних панелях соответсвенно,
    Также вы можете разлогинится нажав на своё имя в верхней панеле</p>
{% endblock %}