{% extends "base.html" %}

{% block content %}

<div class="card text-center {{style_of_card[0]}} {{style_of_card[1]}}">
    <div class="card-header">
      {{result.title}}
    </div>
    <div class="card-body">
      <img src="/static/img/file{{file}}.jpg" class="card-img-top" alt="..." style="height: fit-content; width: fit-content;">
      <h5 class="card-title">{{result.category}}</h5>
      <blockquote class="card-text">{{result.content}}</blockquote>
      <form method="POST">
          <button type="submit" class="btn btn-light">Отправить письмо на почту</button>
      </form>
      <p class="card-text">Или свяжитесь по номеру {{result.connection}}</p>
      <p class="card-text">{{message}}</p>
    </div>
    <div class="card-footer {{style_of_card[1]}}">
      {{data}}
    </div>
  </div>

{% endblock %}