{% extends "base.html" %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      {{result.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{result.category}}</h5>
      <p class="card-text">{{result.content}}</p>
      <form method="POST">
          <button type="submit" class="btn btn-primary">связаться с владельцем</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      {{data}}
    </div>
  </div>

{% endblock %}